---
import { Image } from "astro:assets";
import Button from "../../ui/Button.astro";

const { sectionTitle, articleTitle, description, image, readUrl, allUrl } =
  Astro.props;
---

<section class="py-12 bg-white">
  <div class="mx-auto max-w-7xl pl-[23px] lg:px-[114px]">
    {/* SECTION HEADING */}
    <h2
      class="text-left lg:text-center text-[32px] lg:text-[36px] font-semibold text-[#884A83] mb-12"
    >
      {sectionTitle}
    </h2>

    {/* CONTENT */}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      {/* IMAGE */}
      <div class="lg:w-full lg:h-[350px] h-[203px] w-[330px]">
        <div
          class="flex items-center justify-center h-full bg-[#F2F2F2] rounded-lg"
        >
          {
            image ? (
              <Image
                src={image}
                alt={articleTitle}
                class="h-full w-full object-cover rounded-lg"
                loading="lazy"
              />
            ) : (
              <div class="lg:h-[148px] lg:w-[148px] h-[86px] w-[86px] flex items-center justify-center">
                <svg
                  class="h-[86px] w-[86px] lg:h-[148px] lg:w-[148px] text-[#B3B3B3]"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <rect x="3" y="3" width="18" height="18" rx="2" />
                  <circle cx="8.5" cy="8.5" r="1.5" />
                  <path d="M21 15l-5-5L5 21" />
                </svg>
              </div>
            )
          }
        </div>
      </div>

      {/* TEXT CONTENT */}
      <div class="w-full">
        <h3
          class="text-[32px] lg:text-[36px] font-semibold text-[#884A83] mb-3"
        >
          {articleTitle}
        </h3>

        <p class="text-[18px] leading-relaxed text-[#000000] mb-6">
          {description}
        </p>

        {/* ACTIONS */}
        <div class="flex flex-wrap gap-4 justify-center lg:justify-start pb-5">
          <Button
            href={readUrl}
            class="bg-[#6D3B69] rounded-[15px] lg:w-[225px]"
            >Read this article</Button
          >
          {
            Astro.url.pathname !== "/news" &&
              Astro.url.pathname !== "/news/" && (
                <Button
                  href={allUrl}
                  variant="secondary"
                  class="bg-[#A3599D] rounded-[15px] lg:w-[225px]"
                >
                  See all articles
                </Button>
              )
          }
        </div>
      </div>
    </div>
  </div>
</section>